.forside {
  width: 100%;
  height: 100%;
  background-color: rgba(95, 128, 158, 0.5);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.forsidecontainer {
  position: relative;
  margin-top: 10px;
  animation: slideInLeft 1s forwards;
}

.front,
.back,
.bottom {
  z-index: 2;
}

.forside .forsidetekst {
  display: none;
}

.forside figure {
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

.forside figure img {
  width: 120%;
  margin-bottom: -10px;
  z-index: 2;
  animation: slideInLeft 1s forwards;
}

.forside article {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  width: 90%;
  margin-top: 100px;
}

.forside article h2 {
  color: rgba(22, 49, 81, 1);
  font-size: 12vw;
  font-weight: 800;
}

.frontbackcontainer {
  display: flex;
  gap: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.forsidecontainer h2 {
  text-transform: uppercase;
}

.scrollDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  cursor: pointer;
  left: 50%;
  bottom: 0;
  position: absolute;
  gap: 10px;
  z-index: 3;
}

.scrollDown h3 {
  font-size: 7vw;
  color: white;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 400;
}

.scrollDown img {
  width: 40px;
  filter: brightness(0) invert(1);
  animation: bounce 3s infinite;
}

#check {
  position: absolute;
  font-size: 7vw;
  font-family: "Source Code Pro", sans-serif;
  margin: -35px 0;
  width: fit-content;
  border-right: 1.5px solid;
  color: rgba(22, 49, 81, 1);
}

.github {
  display: none;
}

@media (min-width: 768px) {
}

/* Computervisning */
@media (min-width: 1024px) {
  .forside {
    display: block;
    height: 100vh;
  }

  .forside figure img {
    height: 700px;
    position: absolute;
    width: auto;
    bottom: 0;
    left: calc(50% - 320px);
    animation: none;
  }

  .forside article {
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .forside article h2 {
    color: rgba(22, 49, 81, 1);
    font-size: 8.5vw;
    font-weight: 800;
  }

  .forsidecontainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    animation: none;
  }

  .frontbackcontainer {
    display: flex;
    gap: 170px;
    margin-bottom: -50px;
    margin-top: 0;
  }

  .ScrollPrikker {
    flex-direction: column;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 3;
  }

  .front {
    animation: slideInLeft 1s forwards;
    z-index: 2;
  }

  .back {
    animation: slideInRight 1s forwards;
    z-index: 1;
  }

  .bottom {
    z-index: 2;
    animation: slideInBottom 1s forwards;
  }

  .dot {
    display: flex;
    cursor: pointer;
    background-color: var(--beige);
    width: 15px;
    height: 15px;
    margin: 20px 0;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    cursor: pointer;
    background-color: rgba(22, 49, 81, 1);
    width: 20px;
    height: 20px;
  }

  .special-dot {
    cursor: pointer;
    border: 2px solid var(--beige);
    background-color: var(--mørkeblå);
    width: 20px;
    height: 20px;
  }

  .scrollDown {
    left: 15%;
  }

  .scrollDown h3 {
    font-size: 20px;
    font-weight: 400;
  }

  .forsidetekst h3 {
    position: absolute;
    right: 6%;
    bottom: 12%;
    width: 22%;
    font-weight: 400;
    color: white;
    font-family: "Source Code Pro", sans-serif;
  }

  .forside .forsidetekst {
    display: block;
  }

  .github {
    position: absolute;
    display: block;
    margin-left: 54vw;
    margin-top: -2vw;
  }

  .github img {
    width: 60px;
  }

  #check {
    position: absolute;
    font-size: 40px;
    font-family: "Source Code Pro", sans-serif;
    margin: -15px 7px;
    width: fit-content;
    border-right: 1.5px solid;
    color: rgba(22, 49, 81, 1);
  }
}
