.about {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 20px 40px 20px;
}

.about figure {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.about figure img {
  width: 100%;
  height: 540px;
  border-radius: 24px;
  object-fit: cover;
  object-position: 0 20%;
}

.about figure .animated-section {
  display: flex;
  justify-content: left;
}

.about article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.about article p {
  font-size: 20px;
}

.about article h2 {
  justify-content: left;
}

.programmer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.program-wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}

.programmer figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
}

.programmer figcaption {
  font-family: "Pathway Extreme", sans-serif;
}

.programmer img {
  width: 100px;
}

.udtalelser {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;
}

.udtalelse-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.udtalelser .forsideoverskrift {
  margin-bottom: -20px;
}

.udtalelser .animated-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

.udtalelse-wrapper article p {
  font-size: 20px;
  width: 100%;
  text-align: left;
  font-style: italic;
}

.udtalelse-wrapper article {
  flex: 1;
  margin-top: 50px;
}

.udtalelse-wrapper article h3 {
  font-size: 25px;
}

.udtalelse-wrapper article h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
}

.udtalelse-wrapper article img {
  width: 150px;
  border-radius: 50%;
}

@media (min-width: 768px) {
}

/* Computervisning */
@media (min-width: 1024px) {
  .about {
    padding: 120px 20px 40px 20px;
    flex-direction: row;
    margin-bottom: 0px;
    gap: 56px;
  }

  .about figure img {
    width: 100%;
    height: 540px;
    border-radius: 24px;
    object-fit: cover;
    object-position: 0 20%;
  }

  .about figure {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin-top: 0px;
    gap: 0px;
  }

  .about figure .animated-section {
    display: flex;
    justify-content: flex-end;
  }

  .about article {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .about article p {
    font-size: 16px;
  }

  .programmer {
    margin: 0 auto;
    max-width: 1440px;
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .program-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .udtalelser {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .udtalelse-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .udtalelser .animated-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .udtalelse-wrapper article p {
    font-size: 16px;
    width: 80%;
    text-align: center;
    font-style: italic;
  }

  .udtalelse-wrapper article {
    flex: 1;
  }

  .udtalelse-wrapper article h3 {
    font-size: 25px;
  }

  .udtalelse-wrapper article h4 {
    font-size: 16px;
    font-weight: 500;
    margin-top: -10px;
  }

  .udtalelse-wrapper article img {
    width: 150px;
    border-radius: 50%;
  }
}
