.kompetencer {
  background-color: var(--beige);
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 40px 20px;
}

.forsideoverskrift {
  display: flex;
  justify-content: left;
  text-align: left;
  margin-bottom: 20px;
  font-size: 42px;
  color: rgba(22, 49, 81, 1);
  font-weight: 400;
  font-family: "Syne", monospace;
}

.kompetencer h3 {
  font-size: 5vw;
  font-weight: 600;
}

.kompetencecontainer article div img {
  display: flex;
  width: 70px;
}

.kompetencer p {
  font-size: 16px;
  font-weight: 200;
}

.kompetencecontainer article {
  margin: 50px 0;
}

@media (min-width: 768px) {
}

/* Computervisning */
@media (min-width: 1024px) {
  .kompetencer {
    height: 100vh;
  }

  .flex-centrering {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .kompetencecontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 50px;
    justify-content: center;
  }

  .kompetencer p {
    font-size: 16px;
  }

  .kompetencer h3 {
    margin-bottom: 20px;
    font-size: 2vw;
  }

  .forsideoverskrift {
    font-size: 4vw;
    justify-content: left;
    z-index: 5;
  }

  .kompetencecontainer div {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }

  .blurredCircle {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: 60vw;
    height: 60vw;
    right: -350px;
    bottom: -350px;
    filter: blur(20px);
    border-radius: 50%;
    background-color: rgba(22, 49, 81, 0.25);
  }

  .kompetencecontainer article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .kompetencecontainer p {
    display: flex;
  }

  .kompetencecontainer article div img {
    width: 70px;
    height: fit-content;
  }
}
