.ommig {
  background-color: var(--mørkeblå);
  width: 100%;
  padding: 40px 20px;
}

.ommig main {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.ommig article {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.ommig article h2 {
  color: white;
  text-align: left;
}

.ommig article p {
  color: white;
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
}

.ommig figure {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}

.fotofilter {
  position: absolute;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.12);
  filter: blur(25px);
  border-radius: 50%;
  z-index: 1;
}

.ommig figure img {
  width: 100%;
  border-radius: 50%;
  z-index: 2;
  position: relative;
}

.knap {
  gap: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
}

/* Computervisning */
@media (min-width: 1024px) {
  .ommig {
    flex-direction: row;
    height: 100vh;
    padding: 40px 20px;
  }

  .ommig figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }

  .ommig .animated-section {
    display: flex;
    width: 50%;
  }

  .ommig main {
    flex-direction: row;
  }

  .ommig article {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .ommig article p {
    width: 100%;
    font-size: 16px;
  }

  .ommig article h2 {
    text-align: left;
  }

  .ommig figure img {
    width: 80%;
  }
}
